<h1 align=center><font size = 5>Assignment: Segmenting and Clustering Neighbourhoods in Toronto</font></h1>

## About this assignment
#### For this assignment, we will explore and cluster the neighborhoods in Toronto that are detailed in the Wikipedia page 
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

Before we get the data and start exploring it, let's import all the libraries that we will need.

In [1]:
import pandas as pd # library for data analsysis

#Installation requirements

#!conda install -c conda-forge lxml --yes

#!conda install -c conda-forge html5lib --yes

#!conda install -c conda-forge BeautifulSoup4 --yes

from pandas.io.html import read_html

print('Libraries imported.')

Libraries imported.

#### 1. Read Wiki Tables

In [79]:
# extract tables from a wikipedia page
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# Check the tables in this page
wikitables = read_html(page,  attrs={"class":"wikitable"})
print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

In [80]:
dwiki = wikitables[0]
dwiki.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [81]:
dwiki.shape

(287, 3)

#### 2. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [82]:
dwiki.drop(dwiki.loc[dwiki['Borough'] == 'Not assigned'].index, inplace=True)
dwiki.reset_index()
dwiki.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [83]:
dwiki.shape

(210, 3)

#### 3. Merge duplicate postal code area' rowqs

In [84]:
dwiki = dwiki.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
dwiki.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### 4. Deal with Not assigned neighborhood

In [87]:
# Check the rows containing Not assigned in the Neighborhood column

dwiki.loc[dwiki['Neighbourhood']== 'Not assigned']
#len(dwiki.loc[dwiki['Neighbourhood']== 'Not assigned'])

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [90]:
# Replace the Not assigned neighborhood by the name of borough
dwiki.Neighbourhood[dwiki.Neighbourhood == 'Not assigned'] = dwiki.Borough

#Check it
dwiki.loc[dwiki['Borough']== "Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park
93      M9A  Queen's Park  Queen's Park

In [92]:
dwiki.shape

(103, 3)